<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <title>Instarocket - Admin</title>
</head>

<body>

<div class="container" style="padding-top: 100px;">

    <button class="btn pull-left"><a href="/"><span class="fa fa-home"></span> Home</a></button>
    <button class="btn pull-right"><a href="/logout"><span class="fa fa-lock"></span>
            Logout</a></button>

    <br/>
    <br/>
    <br/>
    <br/>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#users" id="activeUsers" role="tab" data-toggle="tab">Kunden</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Users -->
        <div role="tabpanel" class="tab-pane fade" id="users">
            <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
                <div class="col-lg-2 col-md-offset-5" style="margin: auto;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userCreateModal">
                        Hinzufügen
                    </button>
                </div>
            </div>

            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th>Name</th>
                        <th>Nachname</th>
                        <th>E-Mail</th>
                        <th>Bot-Status</th>
                        <th>?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < users.length; i++) {
                        var tempUser = users[i];
                    %>
                    <tr>
                        <th scope="row"><a href="<%= '/admin/user/' + tempUser._id %>"><%= (i + 1) %></a></th>
                        <td><%= tempUser.firstName %></td>
                        <td><%= tempUser.name %></td>
                        <td><%= tempUser.local.email %></td>
                        <td><%= tempUser.botState %></td>
                        <td>
                            <% if(tempUser.botState == undefined) { %>
                            <a class="btn btn-secondary disabled" href="#"><span class="fa fa-power-off"></span></a>
                            <% } else { %>
                            <a class="btn btn-<%= tempUser.botId == null ? 'danger' : 'success' %>"
                               href="<%= '/admin/user/run/' + tempUser._id %>"><span
                                        class="fa fa-power-off"></span></a>
                            <% } %>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#userDeleteModal<%= i %>">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>

                        <div class="modal fade" id="userDeleteModal<%= i %>" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Kunden löschen</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="<%= '/admin/user/remove/' + tempUser._id %>" method="get">
                                            <div class="form-group">
                                                <p>Möchtest du <%= tempUser.firstName + " " + tempUser.name %> wirklich
                                                    löschen? Der Account + Bot werden unwiederruflich gelöscht!</p>
                                            </div>
                                            <button type="submit" class="btn btn-danger">Löschen</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>

                    <% } %>
                    </tbody>
                </table>

                <!-- Modal -->
                <div class="modal fade" id="userCreateModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Kunden hinzufügen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/admin/user/add" method="post">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" placeholder="Name" name="firstName"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label>Nachname</label>
                                        <input type="text" class="form-control" placeholder="Nachname" name="name"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label>E-Mail</label>
                                        <input type="email" class="form-control" placeholder="E-Mail" name="email"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label>Passwort</label>
                                        <input type="password" class="form-control" placeholder="Passwort"
                                               name="password"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label>Gekauften Artikel</label>
                                        <select class="custom-select" name="botType">
                                            <option value="Basic">Basic</option>
                                            <option value="Premium">Premium</option>
                                            <option value="Unternehmen">Unternehmen</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Erstellen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
        </div>

        <script>
            $(document).ready(function () {
                $('#activeUsers').trigger('click');
            });
        </script>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>
