<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <title><%= targetUser.firstName %> | InstaRocket</title>
</head>
<body>
<div class="container">
     <p><%- targetUser %></p>
</div>
</body>
</html>