<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; InstaRocket 2018</span>
            </div>
            <div class="col-md-8" style="text-align: right;">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="/imprint">Impressum & Datenschutz</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.min.js"></script>
<script src="js/functions.js"></script>