<noscript><p>Tut uns leid, diese Seite funktioniert nicht ohne JavaScript.</p></noscript>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="fa fa-instagram"></span><strong> Rocket</strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Vorlagen</a>-->
                </li>
                <% if(!loggedIn) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="fa fa-user"></span> Login</a>
                </li>
                <% } else { %>
                <% if(user.admin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><span class="fa fa-dashboard"></span> Admin</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/account"><span class="fa fa-user"></span>
                        <%= user.firstName %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span class="fa fa-power-off"></span> Abmelden</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>