<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>Instarocket - Account</title>
</head>
<body id="page-top">

<% include partials/header.ejs %>

<style>
    .card {
        background-color: rgba(54, 25, 25, .0004);
    }

    .card p {
        text-align: left;
        color: black;
    }
</style>

<!-- Header -->
<div class="header"></div>


<div class="masthead">
    <div class="container">
        <div class="intro-text">
        </div>
    </div>
</div>

<div class="container">

    <br/>
    <div class="text-center">
        <h1>Persönliche Informationen</h1>
    </div>
    <br/>

    <div class="row">

        <div class="col-lg-12">
            <% if (typeof info != 'undefined' && info.length > 0) { %>
                <div class="alert alert-success"><%= info %></div>
            <% } %>

            <% if (typeof error != 'undefined' && error.length > 0) { %>
                <div class="alert alert-success"><%= error %></div>
            <% } %>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Persönliche Informationen</h5>
                    <p class="card-text">
                        <strong>Name:</strong> <%= user.firstName %>
                        <br>
                        <strong>Nachname:</strong> <%= user.name %>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Anmeldedaten</h5>
                    <p class="card-text">
                        <strong>E-Mail:</strong> <%= user.local.email %>
                        <br>
                        <a href="/account/changepw"><strong>Passwort ändern</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Instagram Anmeldedaten</h5>
                    <p class="card-text">
                        <strong>E-Mail oder Benutzername:</strong> <%= user.instagram.username %>
                        <br>
                        <a href="#" data-toggle="modal" data-target="#instagramDataModal"><strong>Daten
                                anpassen</strong></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dein InstaRocket - <%= user.botType %></h5>
                    <p class="card-text">
                        <strong>E-Mail oder Benutzername:</strong> <%= user.instagram.username %>
                        <br>
                        <a href="#" data-toggle="modal" data-target="#settingsModal"><strong>Einstellungen
                                anpassen</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <hr>
    <br/>

    <!-- Info Modal -->
    <div class="modal fade" id="instagramDataModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Instagram Anmeldedaten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="/account/user/edit/" method="post">
                        <div class="form-group">
                            <label>Benutzername</label>
                            <input type="text" class="form-control" value="<%= user.instagram.username %>"
                                   name="username" required>
                        </div>
                        <div class="form-group">
                            <label>Passwort</label>
                            <input type="password" class="form-control" value="<%= user.instagram.password %>"
                                   name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">InstaRocket Einstellungen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>- 1 Wort pro Feld!!</br>- Für ein weiteres Feld "+" drücken<br/>- Mindestens 20 Hashtags und 10 Ziel-Accounts sind
                            empfehlenswert<br/>- Ohne '#'!</i></p>
                    <form action="/account/user/edit/" method="post">
                        <div class="form-group multiple-form-group" data-max=30>
                            <label><strong>Hashtags</strong> um die Ziel-Gruppen zu definieren, in welche InstaRocket
                                sucht (maximal 30)</label>
                            <% for(var i = 0; i < user.settings.hashtags.length; i++) {
                                var hashtag = user.settings.hashtags[i];
                            %>
                            <div class="form-group input-group">
                                <input type="text" name="hashtags[]" class="form-control"
                                       value="<%= hashtag %>" required>
                                <span class="input-group-btn"><button type="button"
                                                                      class="btn btn-danger btn-remove">-</button></span>
                            </div>
                            <% } %>
                            <div class="form-group input-group">
                                <input type="text" name="hashtags[]" class="form-control">
                                <span class="input-group-btn"><button type="button"
                                                                      class="btn btn-default btn-add">+</button></span>
                            </div>
                        </div>
                        <div class="form-group multiple-form-group" data-max=20>
                            <label><strong>Ziel-Accounts</strong> welche zur Orientierung an gleichen Interessen gelten
                                (maximal 20)</label>
                            <% for(var i1 = 0; i1 < user.settings.hashtags.length; i1++) {
                                var competitorUser = user.settings.competitor_users[i1];
                            %>
                            <div class="form-group input-group">
                                <input type="text" name="<%= 'competitor_users[]' %>" class="form-control"
                                       value="<%= competitorUser %>" required>
                                <span class="input-group-btn"><button type="button"
                                                                      class="btn btn-danger btn-remove">-</button></span>
                            </div>
                            <% } %>
                            <div class="form-group input-group">
                                <input type="text" name="competitor_users[]" class="form-control">
                                <span class="input-group-btn"><button type="button"
                                                                      class="btn btn-default btn-add">+</button></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    (function ($) {
        $(function () {
            const countFormGroup = function ($form) {
                return $form.find('.form-group').length;
            };
            const addFormGroup = function (event) {
                event.preventDefault();

                const $formGroup = $(this).closest('.form-group');
               // if (!$formGroup.find('input').val()) return;
                const $multipleFormGroup = $formGroup.closest('.multiple-form-group');
                const $formGroupClone = $formGroup.clone();

                $(this).toggleClass('btn-default btn-add btn-danger btn-remove').html('–');

                $formGroupClone.find('input').val('');
                $formGroupClone.insertAfter($formGroup);

                const $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
                    $lastFormGroupLast.find('.btn-add').attr('disabled', true);
                }
            };

            const removeFormGroup = function (event) {
                event.preventDefault();

                const $formGroup = $(this).closest('.form-group');
                const $multipleFormGroup = $formGroup.closest('.multiple-form-group');

                const $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {
                    $lastFormGroupLast.find('.btn-add').attr('disabled', false);
                }
                $formGroup.remove();
            };
            $(document).on('click', '.btn-add', addFormGroup);
            $(document).on('click', '.btn-remove', removeFormGroup);
        });
    })(jQuery);
</script>
<% include partials/footer.ejs %>
</body>
</html>
