<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>Instarocket - Password ändern</title>
</head>
<body>
<div class="container" style="padding-top: 150px;">

    <h1><span class="fa fa-sign-in"></span> Passwort ändern</h1>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/account/changepw" method="post">
        <div class="form-group">
            <label for="oldPassword">Aktuelles Passwort</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Passwort" name="oldPassword" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Neues Passwort</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Passwort" name="newPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Ändern</button>
    </form>
    <hr>
    <p>Zurück zur <a href="/">Startseite</a>.</p>
</div>
</body>
</html>