<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>Instarocket</title>
</head>

<body id="page-top">

<% include partials/header.ejs %>

<!-- Header -->
<div class="header"></div>

<div class="masthead">
    <div class="container">
        <div class="intro-text">
            <form>
                <br/>
                <br/>
                <button type="submit" id="letsgo" class="btn btn-primary btn-xl text-uppercase" href="">LET'S ROCK´ET! <i class="fa fa-rocket"></i></button>
            </form>
        </div>
    </div>
</div>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">Instagram Reichweite mit InstaRocket.</h1> <h2> Warum Instagram Reichweite so wichtig ist, es vielen Menschen geholfen hat und auch dir helfen wird<span class="fa fa-check"></span> </h2>
                <h3 class="section-subheading text-muted">Hier findest du ein paar Gründe, die dir das Angebot für mehr Instagram Reichweite
                    schmackhafter machen. Schau dir unten in Ruhe deine Vorteile an und entscheide selber was besser zu dir passt.</h3>
                <br/>
            </div>
        </div>

        <br/>

        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Deine Zielgruppen</h4>
                <p class="text-muted">Du bestimmst deine Zielgruppen selber anhand von ausgewählten #hashtags, Standorten, anderen Benutzern und Profilen. Das heißt mit uns erreichst du genau die Menschen die du erreichen möchtest!</p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Automatisierung</h4>
                <p class="text-muted">Wähle einen Service und InstaRocket führt ihn für dich aus. Wir liken Bilder, kommentieren Fotos und folgen Menschen aus deinen Zielgruppen. Du sparst dir damit wertvolle Zeit und deine Reichweite wächst von selbst!</p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">24/7 Mehr Wachstum</h4>
                <p class="text-muted">Du kannst dich entspannt zurücklehnen und wir kümmern uns 24/7 um dein Instagram-Profil. Du hast ein potenzielles Wachstum von ca. 300-800 Followern im Monat und das ganz ohne jeglichen Aufwand!</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <hr>
</div>

<section id="prices">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="section-heading text-uppercase">- Unsere Maßgeschneiderten Angebote -</h4>
                <h4 class="section-subheading text-muted">Auf dich und deine Bedürfnisse angepasst!</h4>
                <br/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blocks">
                    <div class="block-header">
                        <h4>BASIC</h4>
                    </div>
                    <div class="block-container">
                        <p>- Like-Funktion</p>
                        <p>- Follow/unfollow Funktion</p>
                        <p>- Kommentar-Funktion</p>
                        <p>* mehr Reichweite</p>
                        <p>* mehr Interaktionen</p>
                        <p>* erreiche deine Zielgruppe anhand von Zielaccounts und Hashtags.</p>
                        <p class="price">39€
                        </p>
                        <p>zzgl. einer einmaligen Einrichtungsgebühr</p>
                    </div>
                    <div class="block-footer">
                        <a class="order-now" href="https://www.digistore24.com/product/249374" target="_blank">Jetzt kaufen</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blocks active-block">
                    <div class="block-header">
                        <h4>PREMIUM</h4>
                    </div>
                    <div class="block-container">
                        <p>- Like-Funktion</p>
                        <p>- Follow/unfollow Funktion</p>
                        <p>- Kommentar-Funktion</p>
                        <p>* deutlich mehr Reichweite</p>
                        <p>* deutlich mehr Interaktionen</p>
                        <p>* erreiche deine Zielgruppe anhand von Zielaccounts</p>
                        <p>* VIP-Support</p>
                        <p><strong>* Zusätzliche Interaktionen durch Geo-Location</strong></p>
                        <u><strong>*Special*</strong></u>
                        <p>Kostenloses Social-Media Ebook dazu!</p>
                        <p class="price">69€
                        </p>
                        <p>zzgl. einer einmaligen Einrichtungsgebühr</p>
                    </div>
                    <div class="block-footer">
                        <a class="order-now" href="https://www.digistore24.com/product/251768" target="_blank">Jetzt kaufen</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blocks">
                    <div class="block-header">
                        <h4>UNTERNEHMEN</h4>
                    </div>
                    <div class="block-container">
                        <p><strong>Maßgeschneidertes Instagram-Tool</strong></p>
                        <p>- potenzielle Neukundengewinnung</p>
                        <p>- mehr Reichweite</p>
                        <p>- ihre Zielgruppen</p>
                        <p>Vereinbaren Sie <u><strong>JETZT</strong></u></p>
                        <p>einen kostenlosen Beratungstermin!</p>
                        <p class="price">
                        </p>
                    </div>
                    <div class="block-footer">
                        <a class="order-now" href="mailto:info@sublime-media.com">Kontakt aufnehmen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>

</body>
</html>
