<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>Instarocket - Login</title>
</head>
<body>
<div class="container" style="padding-top: 150px;">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" placeholder="Passwort" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <hr>
    <p>Zurück zur <a href="/">Startseite</a>.</p>
</div>
</body>
</html>