<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>Registrieren | sublimemedia</title>
</head>
<body>
<div class="container" style="padding-top: 150px;">

    <h1><span class="fa fa-sign-in"></span> Registrieren</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" name="firstName" required>
        </div>

        <div class="form-group">
            <label>Nachname</label>
            <input type="text" class="form-control" placeholder="Nachname" name="name" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" required>
        </div>

        <div class="form-group">
            <label>Passwort</label>
            <input type="password" minlength="6" class="form-control" placeholder="Passwort" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>
    <hr>
    <!--<p>Du hast schon einen Account? <a href="/login">Login</a></p>-->
    <p>Zurück zur <a href="/">Startseite</a>.</p>
</div>
</body>
</html>
