<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>Instarocket | Danke</title>
    <link href="css/thankyou.css" rel="stylesheet">
</head>

<body>
<div class="bg">
    <div class="container box">
        <div class="jumbotron">
            <h1> Vielen Dank für deine Bestellung! </h1>
            <p>Die Abbuchung erfolgte durch den Digistore24, Sie erhalten in kürze eine Email mit ihren Zugangsdaten!</p>
        </div>
    </div>

</div>

<% include partials/footer.ejs %>
</body>
</html>