body {
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.75;
}

a {
    color: cornflowerblue;
}

a:hover {
    color: cornflowerblue;
}

.text-primary {
    color: cornflowerblue !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.col-md-offset-5 {
    margin: auto;
}

#letsgo a {
    color: white;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: cornflowerblue !important;
    border-color: white !important;
    color: white;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #868e96;
}

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: cornflowerblue;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    color: cornflowerblue;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: cornflowerblue;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 95%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: cornflowerblue;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: cornflowerblue;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background: rgba(62, 78, 95, 0.9);
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.50em;
        padding: 12px 0;
    }

    #mainNav.navbar-shrink .nav-item .nav-link {
        color: white;
    }
}

.header {
    width: 100%;
    height: 90px;
    color: white;
}

.masthead {
    top: 10px;
    text-align: center;
    color: white; 
    background: url(../img/header-bg.jpg) no-repeat scroll center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

.masthead .intro-text .intro-lead-in {
    font-size: 25px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    .masthead .intro-text {
        padding-top: 470px;
        padding-bottom: 200px;
    }

    .masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.col-lg-4 {
    padding-left: 20px;
    padding-bottom: 30px;
}

.blocks {
    border: 1px solid #EEEEEE;
}

.blocks:hover {
    box-shadow: 0 0 10px #D9E0DB;
}

.block-header {
    height: 95px;
    text-align: center;
    width: 100%;
    padding: 8%;
    background: #F8F8F8;
    color: #333333;
}

.block-header h4 {
    font-weight: bold;
    vertical-align: center;
}

.block-container {
    text-align: center;
}

.block-container p {
    border-bottom: 1px solid #F4F7F8;
    margin: 0;
    padding: 2%;
}

.block-container p:last-child {
    border-bottom: none;
}

.price {
    font-size: 50px;
    color: cornflowerblue;
    font-weight: bold;
}

.renew-price {
    font-size: 12px;
    color: #333333;
    font-style: italic;
    font-weight: normal;
}

.block-footer {
    text-align: center;
    padding: 10%;
}

.order-now {
    border: 1px solid cornflowerblue;
    padding: 15px;
    border-radius: 4%;
    color: #333333;
    font-weight: bold;
}

.order-now:hover {
    text-decoration: none;
    background: cornflowerblue;
    color: #fff;
}

.active-block {
    box-shadow: 0 0 10px #D9E0DB;
}

.active-block .block-header {
    background: cornflowerblue;
    color: #fff;
}

.active-block .price {
    color: cornflowerblue;
}

.active-block .block-footer a {
    background: cornflowerblue;
    color: #fff;
    border: none;
}

.active-block .block-footer a:hover {
    background: white;
    color: #333333;
    border: 1px solid cornflowerblue;
}

.cc_container .cc_btn {
    background-color: cornflowerblue !important;
}

td.details-control {
    background: black;
    cursor: pointer;
}
tr.details td.details-control {
    background: green;
}
