body, html {
    height: 100%;
}

.bg {
    background-image: url('../img/header-bg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 100%;
    padding-top: 60px;
}

.jumbotron {
    background: rgba(204, 204, 204, 0.5);
    text-align: center;
}

h1 {
    color: #6610f2;
    font-size: 26px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
